.WelcomePage.not-dragging>.wrapper
{
	transition: max-width 0.3s ease;
}

.WelcomePage>.wrapper
{
	position: relative;
	overflow: hidden;
	

	&>.col
	{
		width:500px;

		position: absolute;
		top:20px;
		bottom: 20px;

		left:0px;

		&.num-0
		{
			display: flex;
			flex-direction: column;

			&>.row.num-0
			{
				flex-grow: 1;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			&>.feed.row.num-1
			{
				padding: 20px;

				&>.event
				{
					cursor: pointer;
					margin-bottom: 20px;
					transition: 0.2s opacity;
				}
			}
		}

		&.num-1
		{
			left: 500px;
			overflow-y: auto;

			img { display: none; }
			&>article { padding:20px; }
		}
	}
}