.PageTemplate
{
	width: 100%;
	height:100%;

	position: absolute;
	top:0px;
	left: 0px;

	display: flex;
	justify-content: center;
	align-items: stretch;

	&>.wrapper
	{
		background-color: white;
		flex-grow: 1;

		&.align-center
		{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}