.CartPage>div.wrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;

	$duration: 0.2s;

	&>.users
	{
		&>.instruction
		{
			color: gray;
			padding: 20px 0px 0px 20px;
		}

		&>.avatars
		{
			display: flex;
			overflow-x: auto;
			padding: 0px 20px 20px 20px;
	
			&>.item-enter
			{
				opacity: 0;
				transform: translateY(-20px);
			}
	
			&>.item-enter-active
			{
				opacity: 1;
				transform: translateY(0px);
				transition: opacity $duration ease-in, transform $duration ease-in;
			}
	
			&>.item-exit
			{
				max-width: 150px;
				opacity: 1;
			}
	
			&>.item-exit-active
			{
				max-width: 0px;
				opacity: 0;
				transition: opacity $duration ease-in, max-width $duration ease-in;
			}
		}

	}

	&>.products
	{
		flex: 1 0;
		overflow-y: auto;
		padding: 20px;

		
		&>.items>.item
		{
			
			
			&.item-enter
			{
				opacity: 0;
				transform: translateY(-20px);
			}

			&.item-enter-active
			{
				opacity: 1;
				transform: translateY(0px);
				transition: opacity $duration ease-in, transform $duration ease-in;
			}

			&.item-exit
			{
				max-height: 130px;
				opacity: 1;
			}

			&.item-exit-active
			{
				max-height: 0px;
				opacity: 0;
				overflow: hidden;
				transition: max-height $duration ease-in, opacity $duration ease-in;
			}
		}
	}
}




.CartPage .UserAvatar
{
	margin: 5px;

	&>img
	{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-size: cover;
		margin: 5px;
		box-shadow: 0px 3px 6px #999;
	}

	&>h5
	{
		text-align: center;
		padding: 0px;
		margin: 0px;
		white-space: nowrap;
	}
}