.SlidingColumnsTemplate
{
	position: fixed;
	width: 100%;
	height: 100%;

	display: flex;

	&>div.left
	{
		flex: 1 0;
		position: relative;
	}

	&>div.separator
	{
		cursor: ew-resize;
		width: 10px;
		background: rgb(255,255,255);
		background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 5%, rgba(231,231,231,1) 10%, rgba(244,244,244,1) 50%, rgba(238,238,238,1) 90%, rgba(209,209,209,1) 95%, rgba(255,255,255,1) 100%);	
	}
}